<%= render 'shared/navbar' %>
 <%= render 'shared/btn-map' %>
  <div class="cards">
    <% @itineraries.each do |itinerary| %>
      <%= render "shared/card_itinerary_index", itinerary: itinerary %>
    <% end %>
  </div>
