<%= render 'shared/navbar' %>
<%= render "shared/burger_menu" %>

<%#= render 'shared/btn-map' %>
<%= render "shared/card_itinerary_show" %>
<div class="cards">
  <% @itinerary.sites.each do |site|%>
    <%= render "shared/card_site", site: site%>
  <% end %>
</div>
