<%= render 'shared/navbar' %>
<%= render "shared/burger_menu" %>
<div data-controller="carddisplay">
  <a data-action="click->carddisplay#display" data-carddisplay-target="bouton" data-state="closed" href="#" class="favorite">
    <h2>
      My Favorite<%= @favorites.length > 1 ? "s" : ""%>
      <i class="fa-solid fa-arrow-down"></i>
      <i class='fa-solid fa-arrow-up d-none'></i>
    </h2>
  </a>
  <div class= "d-none" data-carddisplay-target="cardcontainer">
    <div class="cards">
      <% @favorites.each do |favorite| %>
        <%= render 'shared/card_itinerary_index', itinerary: favorite.itinerary %>
      <% end %>
    </div>
  </div>
</div>
