<div class="titre-avatar position-relative">
  <li class="nav-item dropdown list-unstyled">
    <%= link_to root_path do %>
      <%= image_tag("GeoJourneyIcon.png", class: "geojourney-icon") %>
      <h1 class="text-center">GeoJourney</h1>
    <% end %>
  </li>
  <p class= "navbar-subtitle">Unearth great geological discoveries along your journey</p>
</div>
