<div class="titre-avatar position-relative">
  <li class="nav-item dropdown list-unstyled">
    <%= link_to root_path, class: "text-center" do %>
      <h1>GeoJourney</h1>
    <% end %>
  </li>
  <p class= "navbar-subtitle">Unearth great geological discoveries along your journey</p>
</div>
