<nav class="navbar navbar-expand-lg navbar-light bg-light border border-success ">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Itineraries</a>
  <button class="navbar-toggler fa-duotone fa-sliders" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <%= simple_form_for :search, url: root_path, method: :get do |f| %>

            <a class="nav-link dropdown-toggle" href="#" id="navbar-areas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Areas
            </a>

            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <%= f.collection_check_boxes :area, @areas, :name, :name,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item' %>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbartheme" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Theme
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <%= f.collection_check_boxes :theme, @themes, :name, :name,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item' %>
            </ul>
        </li>
            <%= f.submit class: "search_bar_button" %>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
