.btn-map {
  color: #191818;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  background-color:  #1EDD88;
  text-decoration: none;
  left: 150px;
  bottom: 50px;
  z-index: 1;
  position: fixed;
}

#map-btn{
  position: absolute;
  left: 150px;
  bottom: 50px;
  z-index: 1;
}

.btn-map:hover {
  background-color: #2d2c2c;
  color: #ebebeb;

}
