.btn-map {
  color: white;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  background-color:  $search-bar-color;
  text-decoration: none;
  left: calc(50% - 43px);
  bottom: 50px;
  z-index: 4;
  position: fixed;
}

#map-btn{
  position: absolute;
  left: 150px;
  bottom: 50px;
  z-index: 4;
}

.btn-map:hover {
  background-color: #2d2c2c;
  color: #ebebeb;
}

.btn-info-window {
  color: #191818;
  border: 1px solid #ffffff;
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  background-color:  $search-bar-color;
  text-decoration: none;
  // position: absolute;
  // bottom: 5px;
  // right: 10px;
}

.btn-info-window:hover {
  background-color: #2d2c2c;
  color: #ebebeb;
}
