.card-itinerary {
  width: 300px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 6px 6px 20px -4px #545453;
  text-align: center;
  margin-left:10%;
  margin-top: 5%;
}

.card-itinerary:hover{
  opacity: 0.5;
}

.summary {
  width: 300px;
  font-size: 18px;
  margin:10%;
  margin-top: 2%;
  color: rgb(35, 35, 35);
  opacity: 0.8;
}

.fa-heart{
  position: relative;
  top: -39%;
  left: 90%;
}

.fa-plus{
  position: relative;
  padding-left: 30px;
}
