.card-itinerary-parent {
	display: flex;
  flex-direction: column;
  height: 220px;
  width: 300px;
  align-self: center;
  justify-self: center;
  // margin-top: 50px;
  //box-shadow: 1px 5px 11px -1px rgba(0,0,0,0.4);
  //border-radius: 20px;
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
}

.card-itinerary-child {
  height: 180px;
	background: #FFF;
	border: 1px solid #FAFAFA;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
	border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	cursor: pointer;
	position: relative;
}

.card-itinerary-child:hover{
  opacity: 0.5;
}

.show-page-parent {
  height: auto;
  width: 600px;
}

.show-page-child {
  height: 360px;
}

@media (max-width: 768px) {
  .show-page-parent {
    height: auto;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .show-page-child {
    height: 180px;
  }
}

.no-hover {
  pointer-events: none;
}

.favorite-link {
	z-index: 2;
  position: absolute;
  right: 10px;
  top: 10px;
}

.itinerary-link {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0;
}

.heart {
  color: pink;
}

.summary {
  width: 300px;
  font-size: 18px;
  margin:10%;
  margin-top: 2%;
  color: rgb(35, 35, 35);
  opacity: 0.8;
}

// .fa-heart{
//   position: relative;
//   left: 266px;
//   top: -61px;
//   color: white;
// }

// .fa-plus{
//   position: relative;
//   padding-left: 30px;
//   color: white;
// }




.dropdown-divider {
  margin-left: 10%;
  margin-right: 10%;
  color: #1EDD88;
}
.fa-calendar-minus{
color: #1EDD88;

}

.card-lead{
  width: 300px;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.4);
  text-align: center;
  margin-left:10%;
  margin-top: 5%;
  position: relative;
}

.card-description{
  font-size: 18px;
  margin:10%;
  margin-top: 2%;
  color: rgb(35, 35, 35);
  opacity: 0.8;
  text-align: justify;
  color:  #14ab67;
}

.content {
  text-decoration: none;
  color: #1EDD88;
  position: relative;
  // padding-left: 12%;

}
.content-layout:hover{
  text-decoration: none;
  color: #1EDD88;

}

.card-site {
  overflow: hidden;
  height: 120px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.card-site img {
  height: 90%;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.card-site h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-site p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-site .card-site-infos {
  padding: 16px;
  padding-left: 2%;

}

.info-site{
  font-size: 16px;
  margin: 5%;
  margin-top: 2%;
  color: #232323;
  opacity: 0.8;
  text-align: center;
  color: #14ab67;
  letter-spacing: 2px;
}
.fa-clock{
  padding-top: 10px;
  color: #14ab67;
}

.duration-minutes p{
  padding-left: 10px;

}
.duration-minutes{
  display: flex;
}

.duration-days{
  display: flex;
  position: absolute;
  align-items: baseline;
  bottom: -8%;
  left: 7%;
}

.duration-days p {
  font-size: 18px;
  font-weight: lighter;
  padding-left: 10px;
  padding-bottom: 10px;
}
