.fav-content{
  position: relative;

}
.fav-content-header{
  text-align: center;

}
h2 {
  color: $main-color;
  text-shadow:  1px 3px rgba(230, 228, 228, 0.2);
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  padding-left: 15px;

}


h3 {
  color: black;
  font-size: 14px;
}
