// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "btn";

@import "search_bar";
@import "map";

// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-color:  #1EDD88;

body{
background-color: #F8F9FA;
font-family: 'Montserrat', sans-serif;
}



h1{
  color: #1EDD88;
  text-shadow:  1px 3px rgba(230, 228, 228, 0.2);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
