// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import 'cards_layout';
@import "card";
@import "btn";
@import "favorites";
@import "heart";
@import "display";
@import "burger_menu";
@import "user_show";
@import "site";

@import "search_bar";
@import "map";

// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background: #F7FAF4;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: $main-color;
  text-shadow:  1px 3px rgba(230, 228, 228, 0.2);
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  padding-left: 15px;

}

a {
  text-decoration: none;
}
