// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import 'cards_layout';
@import "card";
@import "btn";
@import "favorites";
@import "heart";

@import "search_bar";
@import "map";

// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-color: #15a866;

body{
// background-color:#F8F9FA;
font-family: 'Montserrat', sans-serif;
background: linear-gradient(#F8F9FA,#edffd6,#e1ffba)
}

h1{
  color: #15a866;
  text-shadow:  1px 3px rgba(230, 228, 228, 0.2);
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

a {
  text-decoration: none;
}
