.content-wrapper {
  position: relative;
  width: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  height: calc(100vh - 150px);
  left: 0;
  width: 100%;
  z-index: 3;
  // margin-top: -50px;
  // transition: opacity 0.3s ease;
}

.map-container-show {
  position: absolute;
  top: 0;
  height: calc(100vh - 100px);
  left: 0;
  width: 100%;
  z-index: 3;
  // margin-top: -50px;
  // transition: opacity 0.3s ease;
}

.box-red {
  background-color: red;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.map-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.map-popup-footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 16px;
}

.duration-days-popup {
  display: flex;
  align-items: baseline;
}

.mapboxgl-popup .mapboxgl-popup-anchor-top-right {
  max-width: 50px;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.custom-marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.circle {
	line-height: 0;		/* remove line-height */
	display: inline-block;	/* circle wraps image */
	margin: 5px;
	border-radius: 50%;	/* relative value */
	border: 3px solid white;/* border width   */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	transition: linear 0.25s;
}

.pop-up-summary {
  width: 100px;
  font-size: 18px;
  margin:10%;
  margin-top: 2%;
  color: rgb(35, 35, 35);
  opacity: 0.8;
}
