.menu-checkbok{
  margin-left: 16px;
}

#navbarDropdown{
right: 6px;
top: 50%;
transform: translateY(-50%);
margin-right: 3%;
}
.navbar-brand{
  margin-left: 10%;
}

.navbar-subtitle {
  text-align: center;
  font-size: 12px;
  color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 1em;
}

.titre-avatar {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  background-color:$search-bar-color;

}

.geojourney-icon {
  position: absolute;
  left: 40px;
  top: 0px;
  height: 70px;
  width: 100px;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .geojourney-icon {
    left: 20px;
    height: 35px;
    width: 50px;
  }
}
