.menu-checkbok{
  margin-left: 16px;
}

#navbarDropdown{
right: 6px;
top: 50%;
transform: translateY(-50%);
margin-right: 3%;
}
.navbar-brand{
  margin-left: 10%;
}

.navbar-subtitle {
  text-align: center;
  font-size: 12px;
}

.geojourney-icon {
  position: absolute;
  left: 40px;
  top: 0px;
  height: 70px;
  width: 100px;
  border-radius: 20px;
}
