.tag-item {
  display: inline-block;

  input {
    display: none;

    &:checked + label {
      color: white;
      background-color: $main-color;
    }
  }
}

.collection_check_boxes {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  color: $main-color;
  border: 1px solid $main-color;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.search_bar_button {
  color: $main-color;
  background-color: transparent;
  border: 1px solid $main-color;
}

.filter-icon{
  color: $main-color;
}
